---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";

const events = [
  {
    date: "1st November, 2025",
    title: "HAQ Summit 2025: Her Right To Roam",
    time: "5:30 PM",
    description:
      " In our second summit with 250+ attendees, we launched the report Between Stations: Women’s Everyday Negotiations of Mobility in the Delhi Metro, offering fresh insights into women’s daily experiences and safety in urban spaces. The event featured inspiring keynote addresses by Anjana Sinha (Retd. IPS) and Rakhee Gupta (IAS), alongside thought-provoking panels with leading public policy experts, academics, activists, and journalists",
    info: "/event/info.png",
    image:
      "https://res.cloudinary.com/dbjdfox1r/image/upload/f_auto,q_auto/v1763807087/HAQ_Summit_2025-min_ixhxmn.png",
    link: "#",
  },
  {
    date: "1st August, 2025",
    // date: "2025-07-01",
    title: "Masculinity, Interrupted: Building Male Allyship",
    time: "5:30 PM",
    description:
      " In this Charcha, we explored how men, especially politicians, can champion women’s rights in politics and policy. With 175+ attendees, it featured Shri Pushpendra Saroj, the youngest MP in the Lok Sabha, and Shri Anish Gawande, National Spokesperson for NCP (Sharad Pawar)",
    info: "/event/info.png",
    image:
      "https://res.cloudinary.com/dbjdfox1r/image/upload/f_auto,q_auto/v1763807091/Masculinity_Interrupted_Building_Male_Allyship-min_mjbyoi.png",
    link: "#",
  },
  {
    date: "26th April, 2025",
    title: "Data aur Adhikar: HAQ Charcha + Film Screening",
    time: "5:30 PM",
    // tagline: "Masculinity, Interrupted: Building Male Allyship",
    description:
      " In this Charcha, we screened the powerful film TAAK, followed by a panel. With 130+ attendees, the discussion featured Tanushree Pandey, award-winning investigative journalist and documentary filmmaker, and Aaliya Waziri, advocate at the Delhi High Court",
    info: "/event/info.png",
    image:
      "https://res.cloudinary.com/dbjdfox1r/image/upload/f_auto,q_auto/v1763807946/Data_aur_Adhikar_HAQ_Charcha_Film_Screening-min_i5ntpt.png",
    link: "#",
  },
  {
    date: "9th March, 2025",
    title: "Kanoon Aur Hum: What Women Really Want",
    time: "5:30 PM",
    description:
      " In this Charcha, we hosted Smriti Sharma, Head of Policy at Apple India. With 100+ attendees, the dialogue brought together corporate leaders and policymakers to address women’s struggles with unequal pay, limited leadership roles, and the need for policies that foster a more equitable workplace.",
    info: "/event/info.png",
    image:
      "https://res.cloudinary.com/dbjdfox1r/image/upload/f_auto,q_auto/v1763807086/Kanoon_Aur_Hum_What_Women_Really_Want-min_htxxyn.png",
    link: "#",
  },
  {
    date: "30th November, 2024",
    title: "HAQ Summit 2024: Digital Safety of Women",
    time: "5:30 PM",
    description:
      " In our first summit with 200+ attendees, we launched the report Digital Battlegrounds and hosted panels on policy, allyship, and women’s voices online. Speakers like Aditi Jha, Rituparna Chatterjee, and Anish Gawande shared powerful insights on tackling online abuse and creating safer digital spaces for women.",
    info: "/event/haqsummit.jpg",
    image:
      "https://res.cloudinary.com/dbjdfox1r/image/upload/f_auto,q_auto/v1763807085/HAQ_Summit_2024_Digital_Safety_of_Women-min_k6olxk.png",
    link: "#",
  },
  {
    date: "18th March, 2023",
    title: "POSH Workshop",
    time: "5:30 PM",
    description:
      "In partnership with PSA, we organised a session with over 80 youth leaders and influencers. The session was about building safer and more inclusive workplaces, and understanding the Prevention of Sexual Harassment Act. Through interactive discussions and real life experiences, we gave young leaders the tools to advocate for gender inclusive spaces.",
    info: "/event/info.png",
    image: "/event/posh.jpg",
    link: "#",
  },
  // Add more events here as needed
];
---

<MainLayout title="Events" description="Her Haq Events">
  <section class="hero">
    <div class="hero-background">
      <Image
        src={"/event/Events-min.PNG"}
        alt="Empowering Women"
        class="hero-image"
        width={1920}
        height={1080}
      />
      <div class="hero-overlay"></div>
    </div>
    <div class="hero-content">
      <div class="container">
        <h1 class="hero-title">Events</h1>
        <p class="hero-subtitle">
          Join us in creating lasting change and building a more equitable world
          for all
        </p>
        <!-- <a href="/contact" class="btn-primary">Join Us</a> -->
      </div>
    </div>
  </section>
  <section class="container">
    <h2 style="color:#8B2C2B; margin-top:2rem;" class="upcoming">
      UPCOMING EVENT
    </h2>
    <p>No upcoming event</p>
    <!-- <EventCalendar events={events} /> -->

    <h2 style="color:#8B2C2B; margin-top:2.5rem;">PAST EVENTS</h2>
    <div class="past-events">
      {
        events.map((event) => (
          <div class="past-event">
            <img src={event.image} alt={event.title} class="event-thumb" />
            <div class="event-content">
              {/* <div class="event-date">
                {new Date(event.date)
                  .toLocaleDateString("en-GB", {
                    day: "numeric",
                    month: "long",
                    year: "numeric",
                  })
                  .toUpperCase()}
              </div> */}
              <div class="event-tagline">{event.title}</div>
              <div class="event-date">{event.date}</div>
              <div class="event-desc">{event.description}</div>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</MainLayout>

<style lang="scss">
  @import "../styles/styles.scss";

  .hero {
    height: 60vh;
  }
  .upcoming {
    margin-bottom: 1rem;
  }
  .past-events {
    //max-width: 800px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .past-event {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    padding: 2rem 0;
    border-bottom: 1px solid #333;
    height: 100%;
    &:last-child {
      border-bottom: none;
    }

    .event-thumb {
      width: 300px;
      height: 220px;
      object-fit: cover;
      flex-shrink: 0;
    }

    // .left {
    //   display: flex;
    //   align-items: end;
    //   flex: 0.8;
    //   gap: 1rem;
    //   height: 100%;
    //   @include mobile {
    //     flex-direction: column;
    //     align-items: start;
    //   }
    // }

    .event-title {
      font-weight: 700;
      font-size: 1.5rem;
      color: #222;
      line-height: 1.3;
      @include mobile {
        color: $primary;
      }
    }

    .event-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      text-align: right;
      align-items: end;
      @include mobile {
        align-items: start;
        text-align: left;
      }
    }

    .event-date {
      font-weight: 600;
      color: #8b2c2b;
      font-size: 0.9rem;
      letter-spacing: 0.5px;
    }

    .event-tagline {
      font-weight: 700;
      font-size: 1.4rem;
      color: #222;
      line-height: 1.3;
    }

    .event-desc {
      font-size: 1.25rem;
      color: #555;
      line-height: 1.5;
      width: 90%;
    }
  }

  @include mobile {
    .past-event {
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem 0;

      .event-thumb {
        width: 100%;
        height: 200px;
      }
    }
  }
</style>
